<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
	
<!-- th:replace="base::loyout(~{::section})" -->
<head>
<meta charset="UTF-8" />	
<title>Document</title>
</head>
<body>

	<section>
		<h1>this is new about section</h1>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ab corrupti vel maiores quis dolorem deserunt dolorum praesentium omnis mollitia? Soluta provident eius maiores distinctio saepe quos voluptas ipsa quidem.</p>
		
	</section>

</body>
</html>