<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>condition statement in thymeleaf</title>
</head>
<body>
	<h1>condition statement in thymeleaf</h1>
	
	<h1>user is <span th:text="${isActive} ? 'ACTIVE' : 'NOT ACTIVE'" ></span> </h1>
	<h1 th:if="${gender}=='M'">Male</h1>
	<h1 th:unless="${gender}=='M'">female</h1>
	
	<div th:switch="${#lists.size(mylist)}">
		<h1 th:case="'0'">List contain zero elements</h1>
		<h1 th:case="'1'">List contain one element</h1>
		<h1 th:case="*">List contain more the one element</h1>
	
	</div>
	
	
</body>
</html>