<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	
	<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}" />
</head>
<body>
	
	<div class="container">
	
	<img src="" class="profile" th:src="@{/image/2022.jpg}" alt="" />
	
	<h1>adding CSS ,JS and Image in thymeleaf</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio natus doloribus quis distinctio eum nam id velit sunt quasi error? Maiores fugiat nesciunt debitis facere est omnis repellendus fuga aut.</p>
	
	</div>
	
	<script src="" th:src="@{js/myjs.js}"></script>
	
</body>
</html>